.form-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    align-items: center;
    border: none;
    border-bottom: 1px solid #232c3b;
    padding: 40px 0;
}

.form-container p {
    font-size: 0.9em;
    margin-bottom: 20px;
    width: max-content;
}

.error {
    color: var(--error_color);
    margin-top: 0.5rem;
    margin-left: 1rem;
}

.type-selection-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.type-selection-container label{
    margin-right: 20px;
}

select {
    overflow: hidden;
    font-size: 13px;
    border-radius: 10px;
    cursor: pointer;
    width: 200px;
    height: 30px;
    border: 1px solid gray;
    background-color: white;
}

select option {
    font-size: 15px;
}

.name-input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.name-input-container label {
    margin-right: 20px;
    margin-left: 65px;
}

.name-input-container input {
    height: 30px;
    width: 200px;
}